<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!--example-->
  <!--<link href="build/main.css" rel="stylesheet">-->


 <link rel="stylesheet" href="themes/admin-lte/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
 <link rel="stylesheet" href="themes/admin-lte/dist/css/AdminLTE.min.css"> 
 <link rel="stylesheet" href="themes/admin-lte/dist/css/skins/_all-skins.min.css"> 


</ion-header>


<ion-content padding>
<!--start--> 
<div class="hold-transition skin-blue-light sidebar-mini wrapper">

<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
<!--      <span class="logo-mini"><b>SNS</b></span>-->

      <span class="logo-mini">
        <!--<img src="/Content/themes/admin-lte/dist/img/{{ system_config.Company_Logo }}" height="100%" width="100%"/> -->
      </span>
      
      <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"> 
           <img height="35px" width="35px" src="themes/admin-lte/dist/img/user3-160x160.jpg">
            <b>Schools</b>System
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">      
        <ul class="nav navbar-nav">

          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">5</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 messages </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li ng-repeat="Message in Messages"><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!--<img src="/Content/themes/admin-lte/dist/img/{{ system_config.Company_Logo }}"" class="img-circle" alt="User Image">-->
                      </div>
                      <h4>
                        
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">

                  <li ng-repeat="Notification in Notifications">
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 10
                    </a>
                  </li>

                
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="user-image" alt="User Image Angular" src="themes/admin-lte/dist/img/user4-160x160.jpg">
              <span class="hidden-xs ng-binding">Sajid Hakeem</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <!--<img src="/Content/themes/admin-lte/dist/img/{{ user_detail.User_Picture }}" class="img-circle" alt="User Image">-->

                <p>
					
                  <small>Member since March. 2017</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          -->
        </ul>
      </div>
    </nav>
  </header>


<aside class="main-sidebar">
  
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!--<img src="/Content/themes/admin-lte/dist/img/{{ user_detail.User_Picture }}" class="img-circle" alt="User Image">-->
        <img class="img-circle" alt="User Image" src="/themes/admin-lte/dist/img/user4-160x160.jpg">
        </div>
        <div class="pull-left info">
          <p>Sajid Hakeem</p>          
          <a href="#"><i class="fa fa-circle text-success"></i>Administrator </a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="active">
          <a href="">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

 <!--<li ng-repeat="Moudule in Modules">
            <a data-toggle="modal" data-target="#ErrorModal" href="{{ Moudule.Link }}" ng-if="Module_Authorization_Matrix[$index][user_roles[ role_id ]] == 1" >
            <i class="{{ Moudule.Icon }}"></i> 
            <span>  </span>
            </a>
        </li>-->

        <li >
            <a data-toggle="modal" data-target="#ErrorModal" >
            <i class="fa fa-pencil-square-o"></i> 
            <span> test Result </span>
            </a>
        </li>

        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-clock-o"></i> 
            <span> Time Table</span>
            </a>
        </li>

        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-pencil-square"></i> 
            <span> Lesson Plan</span>
            </a>
        </li>


          <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-users"></i> 
            <span> Student Performance</span>
            </a>
        </li>


        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-money"></i> 
            <span> Fees</span>
            </a>
        </li>


        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-comments-o"></i> 
            <span> Admin Query</span>
            </a>
        </li>


        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-cogs"></i> 
            <span> Admission</span>
            </a>
        </li>

        <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-line-chart"></i> 
            <span>Revenue</span>
            </a>
        </li>

         <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-bar-chart"></i> 
            <span> Students Report</span>
            </a>
        </li>
        
          <li >
            <a data-toggle="modal" data-target="#ErrorModal" href="#">
            <i class="fa fa-search"></i> 
            <span> Teacher Evaluation</span>
            </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      
        Dashboard
        <!-- <span>{{ System_Name }} | {{ Screen_Name }}</span> -->
        <!-- <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <div class="row"><br /><br /></div>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->


      <div class="row" >
        <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-aqua">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Test Result</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div> 
         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-teal">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Time Table</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-clock-o"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-olive">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Lesson Plan</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                  

           <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-yellow">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Student Performance</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

 <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-lime">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Fees</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-red">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Admin Query</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-comments-o"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-navy">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Admission</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-orange">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Revenue</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-line-chart"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-green">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Student Report</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div> 

         <div class="col-lg-4 col-xs-6" >
            <!-- small box -->
            <div class="small-box bg-maroon">
            <div class="inner">
                <h3>100</h3>

                <p><b><h4>Teacher Evaluation</h4></b></p>
            </div>
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <a data-toggle="modal" data-target="#ErrorModal" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

      </div>



      <!-- /.row -->

    </section>

    <!-- /.content -->
  </div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="http://supernova.com.pk">SuperNova Solutions</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>

<div class="control-sidebar-bg"></div>

</div> 

<div class="example-modal">
<div id="ErrorModal" class="modal modal-warning">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Functionality Not Avalaible in Prototype</h4>
        </div>
        <div class="modal-body">
        <p>Sorry! The functionality you're trying to access is not avalaible in prototype version.&hellip;</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>

<!--end-->
<!-- jQuery 2.2.0 -->
<script src="themes/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js" type="text/javascript"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<!-- Bootstrap 3.3.6 -->
<script src="themes/admin-lte/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="themes/admin-lte/plugins/morris/morris.min.js" type="text/javascript"></script>
<!-- Sparkline -->
<script src="themes/admin-lte/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>

<!-- jvectormap -->

<!--<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>-->

<script src="themes/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="themes/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="themes/admin-lte/plugins/knob/jquery.knob.js" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="themes/admin-lte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="themes/admin-lte/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="themes/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
<!-- Slimscroll -->
<script src="themes/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src="themes/admin-lte/plugins/fastclick/fastclick.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="themes/admin-lte/dist/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="themes/admin-lte/dist/js/pages/dashboard.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="themes/admin-lte/dist/js/demo.js"  type="text/javascript"></script>

</ion-content>
