<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
 <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<!--<input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab">Dummy Login</label>-->
		<div class="login-form">

			<!--<div class="sign-up-htm">
                
                <div class="group"><br /><br /><br /><br /></div>
				<div class="group">
					<label for="role" class="label">Select Role</label>
                    <select id="role" name="role_id" class="input">
                        <option style="color:#666" value="1">System Administrator</option>
                        <option style="color:#666" value="2">Teacher</option>
                        <option style="color:#666" value="3">Student</option>
                        <option style="color:#666" value="4">Parent</option>
                    </select>
				</div>
                <div class="group"><br /></div>
				<div class="group">
					<input style="cursor:pointer" type="submit" class="button" value="Submit">
				</div>
			</div>-->


<!--<div class="sign-in-htm">-->

			<div ng-controller="loginCtrl">
              
                	<div class="group">
					<label for="role" class="label">Select Role</label>
                    <select id="role" name="role_id" class="input">
                        <option style="color:#666" value="1">System Administrator</option>
                        <option style="color:#666" value="2">Teacher</option>
                        <option style="color:#666" value="3">Student</option>
                        <option style="color:#666" value="4">Parent</option>
                    </select>
				</div>
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" ng-model="data.username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" ng-model="data.password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<!--<input style="cursor:pointer" type="submit" class="button" ng-click="login()" value="Sign In">-->

					      <button style="cursor:pointer" class="button" ng-click="login()">Sign In</button>

				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-content>
